<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>
    Avangs - Bookmark
  </title>

{# Basic Theme #}
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <link href="/static/assets/css/material-dashboard.css?v=2.1.2" rel="stylesheet" />

{# CSS, JS 파일 불러오기 #}


    <style>

    input.submitLink {
    background-color: transparent;
    color: rebeccapurple;
    border: none;

    cursor: pointer;
    }

    input.category_text {
    background-color: transparent;
    border: none;
    }

    </style>

</head>



<body>
  <div class="wrapper ">
    {% include 'includes/sidebar.html' %}
    <div class="main-panel">
      {% include 'includes/navigation.html' %}

    {# BOOKMARK #}

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-primary">
{#                                <h4 class="card-title "> {{page_title}}'s Bookmark Table</h4>#}
                                <p class="card-category"> 북마크 목록</p>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class=" text-primary">
                                        <tr>
                                            <th>category</th>
                                            <th>location</th>
                                            <th>address</th>
                                            <th>call</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for post in posts %}
                                            <tr>
                                                <form action="/bookmarks/map/" method="post">
                                                    {% csrf_token %}
                                                <td><input type="text" value="{{ post.category }}" class="category_text" name="category"></td>
                                                <td><input type=submit value="{{ post.title }}" class="submitLink" name="bookmark_location"></td>
                                                <td>{{ post.address1 }}</td>
                                                <td>{{ post.call }}</td>
                                                </form>
                                                <form action="/bookmarks/delete/" method="post">
                                                    {% csrf_token %}
                                                <td><button id="Bookdel" type="submit"
                                                        class="btn btn-primary" value="{{ post.id }}" name="submit_btn">delete</button>
                                                </td>
                                                </form>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'includes/footer.html' %}
    </div>
  </div>
  {% include 'includes/scripts.html' %}
  {% include 'includes/scripts-sidebar.html' %}
</body>
</html>